/Pertemuan 11/UI_Tugas/target/
/Pertemuan 10/One/JavaApplication2/nbproject/private/
/Pertemuan 10/Persistent Object/nbproject/private/
/Pertemuan 10/Persistent Object/build/
/Pertemuan 10/Persistent Object/dist/
/Pertemuan 10/jdbc_mhs_service/nbproject/private/
/Pertemuan 10/jdbc_mhs_service/build/
/Pertemuan 10/jdbc_mhs_service/dist/
/PBO09_24060124140195/Koleksi Kelas Bentukan V2/nbproject/private/
/PBO09_24060124140195/Koleksi Kelas Bentukan V2/dist/
/PBO09_24060124140195/Koleksi Kelas Bentukan V2/build/
/Pertemuan 11/Simple UI V2/nbproject/private/
/Pertemuan 11/Simple UI V2/build/
/Pertemuan 11/Simple UI V2/dist/
/Pertemuan 11/jdbc_mhs_service_GUI/nbproject/private/
/Pertemuan 11/jdbc_mhs_service_GUI/dist/
/Pertemuan 11/jdbc_mhs_service_GUI/build/
/Pertemuan 6/AsersiDanException/nbproject/private/
/Pertemuan 6/Assertion 1/Assertion 1/nbproject/private/
/Pertemuan 6/Assertion 1/Assertion 1/dist/
/Pertemuan 6/Assertion 1/Assertion 1/build/
